body {
	background-color: #222222;
}

.main {
	width: 80%;
	height: 80%;
	margin: auto;
	font-family: fantasy;
	/* font-family: 'Helvetica Neue', sans-serif; */
}

h1 {
	display: block;
	font-size: 4em;
}

h2 {
	display: block;
	font-size: 2em; 
}

.icons {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;
	width: 85vh;
	font-size: 5em;
}

a:link {
	color: white;
}

a:visited {
	color: white;
}
