body {
	background-color: #262d36;
	font-family: 'Helvetica Neue', sans-serif;
}

.main {
	max-width: 1000px;
	margin: auto;
}

h1 {
	font-size: 2em;
	color: white;
}

h2 {
	font-size: 1.5em; 
	color: white;
}

.icons {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	font-size: 2.5em;
}
