* {
	box-sizing: border-box;
}

body {
	background-color: #222222;
	font-family: fantasy;
}

.main {
	width: 80%;
	height: 80%;
	margin-right: auto;
	margin-left: auto;
	/* font-family: 'Helvetica Neue', sans-serif; */
}

h1 {
	font-size: 4em;
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 2em;
	margin: 0;
	padding: 0;
}

.icons {
	display: flex;
	justify-content: space-between;
	margin-top: 20vh;
	margin-left: 40px;
	margin-right: 40px;
	font-size: 7em;
}

a:link {
	color: #fd6a02;
}

a:visited {
	color: #fd6a02;
}
